<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a
      href="/"
      class="d-flex align-items-center text-dark text-decoration-none"
    >
      <img src="assets/images/store.png" width="25" class="me-2" />
      <span class="fs-4">Online Store</span>
    </a>
  </header>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div
              class="carousel-item active"
              *ngFor="let image of product.images"
            >
              <img [src]="image" class="d-block w-100" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">
            <small class="text-body-secondary">{{
              product.price | currency
            }}</small>
          </p>
          <button class="btn btn-primary">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
