<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Price
  </button>
  <ul
    class="dropdown-menu dropdown-menu-dark"
    aria-labelledby="dropdownMenuButton"
  >
    <li *ngIf="filteredPriceRanges.length === 0">
      <div class="btn-group-vertical">
        <button class="btn btn-outline-secondary" disabled>
          No prices available
        </button>
      </div>
    </li>
    <li *ngIf="filteredPriceRanges.length > 0">
      <div class="btn-group-vertical">
        <button
          class="btn btn-outline-secondary"
          *ngFor="let price of filteredPriceRanges"
          (click)="filterPrices(price)"
        >
          {{ price.price_min | currency : "EUR" : "symbol" : "1.0-2" }} -
          {{ price.price_max | currency : "EUR" : "symbol" : "1.0-2" }}
        </button>
      </div>
    </li>
  </ul>
</div>
